@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
  --cube-size: 45vmin;
  --side-size: calc(var(--cube-size) / 2);
  --perspective: calc(var(--cube-size) * 4);
  --bg: #293241;
  --color: hsl(0 0% 100% / 0.1);
  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: hsl(0 0% 50% / 0.15);
  --underline-color-hover: hsl(180 100% 50% / 1);
  --underline-transition: 5s;
  --finish-fill: #98c1d9 ;
  --accent: #e0fbfc ;
  --fill: #3d5a80 ;
}

html, body {
  height: 100%; 
  font-family: Arial
}

body {
  display: grid;
  place-items: center;
  overflow-y: auto;  
  margin: 0;
  padding: 0;
  background: #030321;
  font-family: Arial;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}


nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #e0fbfc; /* Changed text color to #e0fbfc */
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 25px;
  transition: all 0.3s ease;  
}

nav a:hover {
  background-color: #293241; /* Changed hover background color to #ee6c4d */
  color: #e0fbfc; /* Changed hover text color to #e0fbfc */
  border-color: #3d5a80; /* Changed hover border color to #3d5a80 */
  transform: scale(1.05);
}

html, body{
  height: 100%;
  font-weight: 800;
  margin: 0;
  padding: 0;
}



.container {
  display: flex;
/*   border:1px solid red; */
  height: 10%;
  align-items: center;
}

svg {
    display:  block;
    font: 12em 'Montserrat';
    width: 80%;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: hsla(  0, 100%, 60%, 0.9);
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: hsla( 50, 100%, 60%, 0.9);
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: hsla(100, 100%, 60%, 0.9);
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: hsla(200, 100%, 60%, 0.9);
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: hsla(250, 100%, 60%, 0.9);
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.cube-container {
  margin-top: 3%;
  margin-bottom: 10%;
  position: relative;
  perspective: var(--perspective);
}

.cube {
  position: relative;
  width: var(--cube-size);
  height: var(--cube-size);
  transform-style: preserve-3d;
  animation: cube-rotation 12s linear infinite;
}

.side {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  width: var(--cube-size);
  height: var(--cube-size);
  perspective: var(--perspective);
  overflow: hidden;
}

.front  { transform: rotateY(  0deg) translateZ(var(--side-size)); }
.back   { transform: rotateY(180deg) translateZ(var(--side-size)); }
.right  { transform: rotateY( 90deg) translateZ(var(--side-size)); }
.left   { transform: rotateY(-90deg) translateZ(var(--side-size)); }
.top    { transform: rotateX( 90deg) translateZ(var(--side-size)); }
.bottom { transform: rotateX(-90deg) translateZ(var(--side-size)); }

.front .tile { background: hsla(  0, 100%, 60%, 0.9); }
.back .tile { background: hsla( 50, 100%, 60%, 0.9); }
.right .tile { background: hsla(100, 100%, 60%, 0.9); }
.left .tile { background: hsla(150, 100%, 60%, 0.9); }
.top .tile { background: hsla(200, 100%, 60%, 0.9); }
.bottom .tile { background: hsla(250, 100%, 60%, 0.9); }

@keyframes cube-rotation {
  to { transform: rotateX(360deg) rotateY(-360deg) }
}





@font-face {
  font-family: "Geist Sans";
  src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}

header, footer {
  height: 100vh;
  color: var(--finish-fill);
  display: grid;
  place-items: center;
  font-size: clamp(2rem, 4vw + 1rem, 12rem);
}

h1, h2 {
  font-weight: 120;
  background: linear-gradient(var(--finish-fill), var(--fill));
  background-clip: text;
  color: transparent;
/*  text-transform: uppercase;*/
}

p {
  resize: both;
  max-width: 70vw;
  overflow: hidden;
  padding: 10ch;
	margin: 0;
}

p > span {
	outline-color: transparent;
	outline-offset: 1ch;
	font-size: clamp(3rem, 4vw + 1rem, 10rem);
  color: var(--color);
  text-decoration: none;
  background-image:
		/* First one is the highlight */
		linear-gradient(90deg, transparent calc(100% - 8ch), var(--accent) calc(100%  - 8ch)),
  	linear-gradient(90deg, var(--fill), var(--fill)),
    linear-gradient(90deg, var(--underline-color), var(--underline-color));
  background-size:
  	var(--underline-block-width) var(--underline-width),
  	var(--underline-block-width) var(--underline-width),
    100% var(--underline-width);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 100%;
  background-clip: text;
  color: var(--finish-fill);
}


main {
  height: 200vh;
}

section {
  position: sticky;
  top: 0;
	height: 100vh;
	width: 100vw;
  display: grid;
  place-items: center;
  text-align: center;
}


@supports (animation-timeline: scroll()) {
  @media (prefers-reduced-motion: no-preference) {
    main {
      view-timeline-name: --section;
    }
    
    p > span {
      background-position-x:
        calc(var(--underline-block-width) * -1),
        calc(var(--underline-block-width) * -1),
        0;
      color: transparent;
      animation-name: fill-up, color-in;
      animation-fill-mode: both;
      animation-timing-function: linear;
    	animation-timeline: --section;
    	animation-range: entry 100% cover 50%, cover 50% exit 0%;
    }

    @keyframes fill-up {
    	to { background-position-x: 0, 0, 0; }
    }

    @keyframes color-in {
    	to { color: var(--finish-fill); }
    }
  }
}




.spacer{
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer1 {
  background-image: url('e/layered-waves-haikei.svg');
}
.layer2{
  background-image: url('e/layered-peaks-haikei.svg');
  padding-bottom: 600px;
  z-index: -10;
}
.flip{
  transform: rotate(180deg);
  margin-top: -10px;
  z-index: -10;
}

footer {
  /* default background color for the entire footer */
  background-color: #3d5a80; /* light gray */
  flex: 1;

}

footer h2 {
  /* styles for the h2 elements inside footer */
  font-size: 100px; /* make the headings big */
  line-height: 1.2; /* reduce the line height */
  margin-bottom: -300px; /* add some margin to separate the heading from the paragraph */
  text-align: center;
  color: #293241;
  margin-top: -20px; /* adjust the margin to compensate for the added space */
}

footer p {
  /* styles for the p elements inside footer */
  font-size: 50px; /* make the paragraphs smaller */
  text-align: center;
  color: #98c1d9;
  padding-bottom: 20px;
  width: auto;
}
.about-section {
  background-color: #3d5a80; /* light orange */
  padding: 20px; /* add some padding to make the background visible */
  margin-top: -10px;
  width: auto;
}
.members-section {
  padding: 20px; /* add some padding to make the background visible */
  margin-top: -200px;
  margin-bottom: -800px;
}

.contact-section h2 {
  color: #e0fbfc ;
}

